@import url(https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Tinos:400,700&display=swap&subset=latin-ext);
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Roboto', arial, sans-serif, 'Tinos', serif;
  scroll-behavior: smooth;
}

html a {
  text-decoration: none;
  color: black;
}

html li {
  list-style: none;
}

.logo {
  background-color: black;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
  cursor: pointer;
}

.logo a {
  border-radius: 50%;
  display: block;
  color: #ca0202;
  font-family: Tinos;
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 30px;
  color: #bbbbbb;
  text-align: center;
}

.scroll-down .fa-chevron-down {
  -webkit-animation: pulsate 0.8s linear infinite both;
          animation: pulsate 0.8s linear infinite both;
}

.scroll-down p {
  font-size: 10px;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.section-header {
  width: 100%;
  height: 30vh;
  background-color: rgba(0, 0, 0, 0.795);
  color: #8f8f8f;
  text-align: center;
  font-size: 50px;
  text-shadow: 0 0 1px #333333;
}

@media (min-width: 1024px) {
  .section-header {
    font-size: 100px;
  }
}

.hero-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.452);
}

.header {
  position: relative;
  height: 100vh;
  background-image: url(../img/bedroom_medium_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header.show {
  -webkit-filter: blur(7px);
          filter: blur(7px);
}

@media (orientation: landscape) {
  .header {
    background-position-y: 50%;
  }
}

.header__intro {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

@media (orientation: landscape) {
  .header__intro {
    top: 50%;
  }
}

.header__intro-logo {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  line-height: 100px;
  font-size: 80px;
  margin-bottom: 6vh;
}

@media (min-width: 1200px) {
  .header__intro-logo {
    height: 200px;
    width: 200px;
    line-height: 200px;
    font-size: 160px;
  }
}

.header__intro-logo a {
  cursor: default;
}

.header__intro-name {
  position: relative;
  font-size: 5rem;
  text-align: center;
  font-family: tinos;
  color: white;
  letter-spacing: 12px;
  width: 100%;
  /*
            &::after{
                content: '';
                position: absolute;
                width: 60%;
                height: 2px;
                background-color: $main-logo-color;
                bottom: 42%;
                left: 50%;
                transform: translateX(-50%);
            }*/
}

.header__intro-name::first-letter {
  color: #ca0202;
}

@media (orientation: landscape) {
  .header__intro-name {
    font-size: 4rem;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__intro-name {
    font-size: 10rem;
  }
}

@media (min-width: 640px) and (orientation: portrait) {
  .header__intro-name {
    font-size: 10rem;
  }
}

@media (min-width: 1200px) {
  .header__intro-name {
    font-size: 15rem;
  }
}

.header__intro-name::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: #ca0202;
  bottom: 42%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__intro-name span {
  display: block;
  font-size: 4rem;
}

@media (orientation: landscape) {
  .header__intro-name span {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__intro-name span {
    font-size: 8rem;
  }
}

@media (min-width: 640px) and (orientation: portrait) {
  .header__intro-name span {
    font-size: 8rem;
  }
}

@media (min-width: 1200px) {
  .header__intro-name span {
    font-size: 12rem;
  }
}

@-webkit-keyframes show-up {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

@keyframes show-up {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

.navigation {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.navigation__logo {
  margin-left: 10px;
  visibility: hidden;
}

.navigation__mobile-btns {
  margin-right: 10px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 40px;
  color: #181717;
  text-shadow: 0 0 2px black;
  cursor: pointer;
  z-index: 999;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (min-width: 1024px) {
  .navigation__mobile-btns {
    display: none;
  }
}

.navigation__mobile-btns .fa-bars {
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.navigation__mobile-btns .fa-bars.show {
  display: inline;
}

.navigation__mobile-btns .fa-times {
  display: none;
}

.navigation__mobile-btns .fa-times.show {
  display: inline;
  color: white;
}

.navigation__list {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (min-width: 1024px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navigation__list.show {
  display: block;
}

.navigation__list-logo {
  position: relative;
  top: 10px;
  left: 10px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  line-height: 30px;
}

@media (min-width: 1024px) {
  .navigation__list-logo {
    position: fixed;
    height: 40px;
    width: 40px;
    font-size: 30px;
    line-height: 40px;
    top: 20px;
  }
}

.navigation__list-element {
  position: relative;
  top: 100%;
  height: 15vh;
}

@media (min-width: 1024px) {
  .navigation__list-element {
    top: 0;
    width: 15vw;
    height: 80px;
  }
}

.navigation__list-element.show:nth-of-type(1) {
  margin-top: 20px;
  -webkit-animation: show-up ease-out .5s 0.3s both;
          animation: show-up ease-out .5s 0.3s both;
}

.navigation__list-element.show:nth-of-type(2) {
  -webkit-animation: show-up ease-out .75s 0.3s both;
          animation: show-up ease-out .75s 0.3s both;
}

.navigation__list-element.show:nth-of-type(3) {
  -webkit-animation: show-up ease-out 1s 0.3s both;
          animation: show-up ease-out 1s 0.3s both;
}

.navigation__list-element.show:nth-of-type(4) {
  -webkit-animation: show-up ease-out 1.25s 0.3s both;
          animation: show-up ease-out 1.25s 0.3s both;
}

.navigation__list-element.show:nth-of-type(5) {
  -webkit-animation: show-up ease-out 1.5s 0.3s both;
          animation: show-up ease-out 1.5s 0.3s both;
}

.navigation__list-element a {
  font-size: 20px;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
  color: rgba(182, 182, 182, 0.473);
  line-height: 15vh;
  border-left: 2px solid rgba(255, 255, 255, 0.295);
}

@media (min-width: 1024px) {
  .navigation__list-element a {
    line-height: 80px;
  }
}

.navigation__list-element a:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.041);
  text-shadow: 0 0 1px white;
  border-left: 2px solid rgba(255, 255, 255, 0.041);
  -webkit-box-shadow: 0 0 20px rgba(253, 253, 253, 0.274);
          box-shadow: 0 0 20px rgba(253, 253, 253, 0.274);
}

@-webkit-keyframes bg-pan-br {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.3) translate(-10%, -10%);
            transform: scale(1.3) translate(-10%, -10%);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.3) translate(10%, 10%);
            transform: scale(1.3) translate(10%, 10%);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bg-pan-br {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.3) translate(-10%, -10%);
            transform: scale(1.3) translate(-10%, -10%);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.3) translate(10%, 10%);
            transform: scale(1.3) translate(10%, 10%);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #d6d6d6;
}

.gallery__header {
  line-height: 30vh;
}

.gallery__img-holder {
  position: relative;
  width: 90%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px #535353;
          box-shadow: 0 0 10px #535353;
  margin: 0 auto;
  margin-top: 30px;
  z-index: 0;
}

.gallery__item {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  background-color: #d6d6d6;
}

.gallery__item--one.gallery__item--show {
  -webkit-animation: slide-in-fwd-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-fwd-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.gallery__item--two.gallery__item--show {
  -webkit-animation: slide-in-fwd-center 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-fwd-center 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.gallery__item--three.gallery__item--show {
  -webkit-animation: slide-in-fwd-center 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-fwd-center 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media (orientation: landscape) {
  .gallery__item {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .gallery__item {
    width: 50%;
    margin: 0;
  }
}

.gallery__item-img {
  width: 100%;
  -webkit-animation: bg-pan-br 30s both infinite;
          animation: bg-pan-br 30s both infinite;
}

.gallery__item-text {
  color: #8f8f8f;
  font-size: 20px;
  padding: 10px;
  margin: 0 30px;
}

.gallery__item-hero-bg {
  position: absolute;
  background-color: #00000062;
  z-index: 1;
}

.gallery__text-holder {
  position: relative;
  top: -40px;
  left: 0;
  text-align: left;
  width: 88%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .gallery__text-holder {
    top: -60px;
  }
}

.gallery__text-holder-details {
  display: inline-block;
  margin: 10px 5px 0 0;
  padding: 3px 8px;
  border: solid black 1px;
}

@media (min-width: 1200px) {
  .gallery__text-holder-details {
    font-size: 20px;
  }
}

.gallery__text-holder .fas {
  color: #858585;
}

.gallery__text-header {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .gallery__text-header {
    font-size: 50px;
  }
}

.gallery__text-describe {
  font-size: 20px;
}

@media (min-width: 1200px) {
  .gallery__text-describe {
    font-size: 30px;
  }
}

@-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
    top: 100vh;
    visibility: visible;
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
    top: 0;
    visibility: visible;
  }
}

@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
    top: 100vh;
    visibility: visible;
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
    top: 0;
    visibility: visible;
  }
}

.extra-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #d6d6d6;
  padding-bottom: 50px;
}

.extra-info__header {
  line-height: 15vh;
}

@media (min-width: 266px) {
  .extra-info__header {
    line-height: 30vh;
  }
}

.extra-info__holder {
  position: relative;
  background-color: rgba(173, 173, 173, 0.349);
  width: 90%;
  height: 200px;
  text-align: center;
  margin: 80px auto;
  border-radius: 10px;
  visibility: hidden;
}

.extra-info__holder:last-of-type {
  margin-bottom: 0;
}

.extra-info__holder--one.extra-info__holder--show {
  -webkit-animation: slide-in-blurred-bottom 1s cubic-bezier(0.23, 1, 0.32, 1) both;
          animation: slide-in-blurred-bottom 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.extra-info__holder--two.extra-info__holder--show {
  -webkit-animation: slide-in-blurred-bottom 1.5s cubic-bezier(0.23, 1, 0.32, 1) both;
          animation: slide-in-blurred-bottom 1.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.extra-info__holder--three.extra-info__holder--show {
  -webkit-animation: slide-in-blurred-bottom 1.1s cubic-bezier(0.23, 1, 0.32, 1) both;
          animation: slide-in-blurred-bottom 1.1s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.extra-info__holder--four.extra-info__holder--show {
  -webkit-animation: slide-in-blurred-bottom 1.3s cubic-bezier(0.23, 1, 0.32, 1) both;
          animation: slide-in-blurred-bottom 1.3s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@media (min-width: 1024px) {
  .extra-info__holder {
    width: 45%;
    height: auto;
    margin-bottom: auto;
    padding-bottom: 50px;
  }
}

.extra-info__holder-circle {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: solid grey;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: white;
  background-position: center;
  background-size: cover;
}

.extra-info__holder-circle--kids {
  background-image: url(../img/kids.jpg);
}

.extra-info__holder-circle--grill {
  background-image: url(../img/grill.jpg);
}

.extra-info__holder-circle--parking {
  background-image: url(../img/parking.jpg);
}

.extra-info__holder-circle--internet {
  background-image: url(../img/internet.jpg);
}

.extra-info__holder-img {
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.extra-info__holder-header {
  padding-top: 60px;
  font-size: 30px;
  letter-spacing: 3px;
}

@media (min-width: 1024px) {
  .extra-info__holder-header {
    font-size: 40px;
  }
}

.extra-info__holder-text {
  margin: 20px auto 0;
  font-size: 15px;
  width: 50%;
  line-height: 20px;
}

@media (min-width: 1024px) {
  .extra-info__holder-text {
    width: 90%;
    font-size: 25px;
    line-height: 40px;
  }
}

.map {
  background-color: #d6d6d6;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (orientation: landscape) {
  .map {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.map__header {
  line-height: 30vh;
  margin-bottom: 20px;
}

.map__header-img {
  display: block;
  height: 50vh;
  width: 90%;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 5px #c9c9c9;
          box-shadow: 0 0 5px #c9c9c9;
}

@media (orientation: landscape) {
  .map__header-img {
    height: 80vh;
    width: 60%;
  }
}

.map__text-holder {
  width: 90%;
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  line-height: 25px;
  text-shadow: 0 0 2px #838080;
}

@media (min-width: 1024px) {
  .map__text-holder {
    font-size: 30px;
    line-height: 35px;
  }
}

.footer {
  background-color: #2c2c2c;
  color: #8f8f8f;
  font-size: 15px;
  padding: 10px 0;
}

.footer p {
  width: 95%;
  margin: 0 auto;
  padding: 5px 0;
}

@media (min-width: 1024px) {
  .footer p {
    font-size: 25px;
  }
}

.footer i {
  width: 15px;
  height: 15px;
  color: #c2c2c2;
  margin-right: 15px;
  text-align: center;
}

@media (min-width: 1024px) {
  .footer i {
    margin-right: 30px;
    width: 25px;
    height: 25px;
  }
}
/*# sourceMappingURL=main.css.map */