@keyframes bg-pan-br {
    0% {
      transform: scale(1);
    }

    25%{
        transform: scale(1.3) translate(-10%, -10%);
    }
    50% {
        transform: scale(1)
    }
    75%{
        transform: scale(1.3) translate(10%, 10%);;
    }
    100% {
        transform: scale(1)
    }
  }


  @keyframes slide-in-fwd-center {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

.gallery{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(214, 214, 214);
    &__header{
        line-height: 30vh;
    }
    &__img-holder{
        position: relative;
        width: 90%;
        overflow: hidden;
        box-shadow: 0 0 10px rgb(83, 83, 83);
        margin: 0 auto;
        margin-top: 30px;
        z-index: 0;
    }
    &__item{
        position: relative;
        width: 100%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        //overflow: hidden;
        background-color: rgb(214, 214, 214);
        &--one{
            &.gallery__item--show{
                animation: slide-in-fwd-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
        }
        &--two{
            &.gallery__item--show{
                animation: slide-in-fwd-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
        }
        &--three{
            &.gallery__item--show{
                animation: slide-in-fwd-center 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
        }
        @media (orientation: landscape) {
            width: 90%;
        }
        @media (min-width:1024px){
            width: 50%;
            margin: 0;
        }
        &-img{
            width: 100%;
            animation: bg-pan-br 30s both infinite;
        }
        &-text{
            color: rgb(143,143,143);
            font-size: 20px;
            padding: 10px;
            margin: 0 30px;
        }
        &-hero-bg{
            position: absolute;
            background-color: #00000062;
            z-index: 1;
        }
    }
    &__text{
        &-holder{
            position: relative;
            top: -40px;
            left: 0;
            //z-index: 9;
            text-align: left;
            width: 88%;
            margin: 0 auto;
            @media (min-width:1200px){
                top: -60px;
            }
            &-details{
                display: inline-block;
                margin: 10px 5px 0 0;
                padding: 3px 8px;
                border: solid black 1px;
                @media (min-width:1200px){
                    font-size: 20px;
                }
            }
            .fas{
                color: rgb(133, 133, 133);
            }
        }
        &-header{
            font-size: 30px;
            color: white;
            margin-bottom: 20px;
            @media (min-width:1200px){
                font-size: 50px;
            }

        }
        &-describe{
            font-size: 20px;
            @media (min-width:1200px){
                font-size: 30px;
            }
        }
    }
}   